---
title: Services
menuItem: 2
bodyClass: services
---
{{#extend "default"}}

  {{#content 'subMenu'}}
    <div class="subMenu">
      <span>{{this.title}}</span>
      <ul id="subNav" class="nav subNav">
        <li>Restaurant</li>
        <li>Auditorium</li>
        <li>Jardin des nuages</li>
        <li>Confort</li>
        <li>Developpement durable</li>
        <li>Tishman Speyer</li>
      </ul>
    </div>
  {{/content}}

  {{#content "body"}}
    <div id="slices" class="slices">
        <div id="restaurant" class="slice slice-1 future">
          <div class="column column-50 column-left">
            <div class="bloc blocInfos">
              <h3>Restaurant</h3>
              <p class="align-justify"><img src="{{assets}}/img/NBS_services_tasse.jpg" width="170" height="108" alt=""/>Le <strong>Restaurant inter-entreprise (RIE)</strong> de Pacific est situé au niveau rez-de-rue + 1 et est accessible depuis le parvis central et les ascenseurs de l’immeuble. D’une capacité de 375 places, il bénéficie de premier jour et est organisé pour une fluidité et un confort optimisés des utilisateurs, qui pourront également profiter d’une <strong>cafétéria.</strong></p>
            </div>
          </div>
          <div class="arrowDown">d</div>
        </div>
        <div id="auditorium" class="slice slice-2 future">
            <div class="column column-50 column-left">
              <div class="bloc blocTitle"> <h2>Auditorium</h2> </div>
              <div class="bloc blocInfos">
                <p class="align-justify">Situé au rez-de-rue, l’<strong>auditorium</strong> de Pacific peut accueillir jusqu’à 240 personnes. Cet espace de conférence dispose également d’un foyer adjacent permettant l’organisation de réunions et d’événements d’entreprise de différents formats. Des <strong>salles de réunions mutualisées</strong> et un <strong>fitness</strong> complètent la gamme des services mis à disposition des utilisateurs de Pacific à ce niveau.</p>
              </div></div>
        </div>
        <div id="jardin-des-nuages" class="slice slice-3 future">
            <div class="column column-50 column-left">
              <div class="bloc blocInfos">
                <h2>Le Jardin des Nuages</h2>
                <p class="align-justify">Au dernier étage de Pacific, un <strong>business lounge</strong> dédié accueille les collaborateurs, donnant sur un <strong>jardin suspendu</strong>, écrin de quiétude ouvert sur le ciel. Calme, bien être et convivialité définissent ce lieu unique à La Défense.</p>
              </div>
            </div>
            <div class="column column-50 column-right"></div>
        </div>
        <div id="confort" class="slice slice-4 future">
          <div class="column column-50 column-left">
            <div class="bloc blocTitle">
              <h2>Assurer le confort des salariés et des visiteurs</h2>
              <div class="bloc cursor"><img src="{{assets}}/img/NBS_services_confort.png" width="99" height="115" alt="" /></div>
            </div>
          </div>
          <div class="column column-50 column-right">
            <div class="bloc blocInfos">
              <h2>Une large gamme <strong>de services utilisateurs</strong></h2>
              <p><strong>Bureau de Gestion Tishman Speyer sur site</strong></p>
              <p class="align-justify">Une équipe de Property Management dédiée avec une connaissance parfaite du site permet d’assurer un service continu aux occupants, en veillant  à leur apporter des solutions préventives et efficaces dans une optique de maîtrise des coûts de fonctionnement et de développement durable. </p>
              <ul>
                <li>Hôtesses d’accueil</li>
                <li>Services de conciergerie</li>
              </ul>
              <ul>
                <li>Equipe sécurité 24h sur 24h</li>
                <li>Equipe multi-technique dédiée</li>
              </ul>
              <ul>
                <li>765 emplacements de stationnement privatifs <span>dans le parking Valmy</span></li>
                <li>Desserte VIP : <span>dépose taxi et 3 emplacement VIP au pied de l’immeuble</span></li>
                <li>Lot indépendant d’archives <span>d’une surface de 3000 m<sup>2</sup></span></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="developpement-durable" class="slice slice-5 future">
            <div class="column column-50 column-left">
              <div class="bloc blocTitle">
                <h2>Démarche<br /><span>HQE</span></h2>
                <div class="bloc cursor"><img src="{{assets}}/img/NBS_services_feuille.png" width="145" height="199" alt="" /></div>
              </div>
            </div>
            <div class="column column-50 column-right">
              <div class="bloc blocInfos">
                <h2>L’expertise du<br /><strong>développement durable</strong></h2>
                <p class="align-justify">Pacific fait l’objet d’une démarche environnementale ayant pour objectif l’obtention du label HQE Exploitation. Cette certification atteste des performances d’un immeuble au regard de son impact sur l’environnement, sur la consommation d’énergie, sur le confort et la santé des occupants.</p>
                <p class="align-justify">Cette démarche s’appuie sur l’expérience positive et le savoir-faire de Tishman Speyer en matière de développement durable, qui s’attache à appliquer des pratiques écologiquement responsables au niveau mondial. Le groupe développe ainsi des pratiques écologiquement responsables au niveau mondial. Le groupe développe ainsi des pratiques et des méthodes de gestion éco responsables centrées sur les économies d’énergie, la préservation de l’eau, la réduction des déchets et investit pour diminuer les besoins énergétiques de ses actifs immobiliers.</p>
                <p class="align-justify">Dans le cadre d’une approche volontariste globale en faveur du développement durable, Tishman Speyer s’efforce d’obtenir des certifications vertes pour l’ensemble de ses actifs à travers le monde. La réduction de l’impact environnemental, alliée à la maîtrise des charges d’exploitation, permet d’offrir aux locataires de meilleures performances au sein d’immeubles durables.</p>
                <p class="align-justify">En France, près de 70% du portefeuille de Tishman Speyer bénéficie d’une certification environnementale en 2014, avec des immeubles systématiquement classés parmi les plus performants de leur catégorie.</p>
              </div>
              <div class="bloc power">
                <img src="{{assets}}/img/NBS_services_ico.jpg" width="173" height="178" alt="" />
              </div>
            </div>
        </div>
        <div id="tishman-speyer" class="slice slice-6 future">
            <div class="column column-1 column-left column-12 column-odd background-animation"><p><strong>Chrysler Center</strong>New York</p></div>
            <div class="column column-2 column-right column-12 column-even background-animation"><p><strong>Tour CBX</strong>Paris La Défense</p></div>
            <div class="column column-3 column-left column-12 column-odd background-animation"><p><strong>Rockefeller Center</strong>New York</p></div>
            <div class="column column-4 column-right column-12 column-even background-animation"><p><strong>Torre Norte</strong>Sao Paulo</p></div>
            <div class="column column-5 column-left column-12 column-odd background-animation"><p><strong>Hearst Tower</strong>New York</p></div>
            <div class="column column-6 column-right column-32">
              <div class="bloc">
                <h2><img src="{{assets}}/img/services_tishman_logo.gif" width="360" height="80" alt="" /></h2>
                <p class="align-justify">Tishman Speyer est l’un des leaders du marché immobilier international. Ses activités regroupent la gestion de fonds, l’investissement, la promotion et la gestion d’actifs. Depuis sa création en 1978, par Robert Tishman et Jerry Speyer, le groupe a acquis, développé et géré 252 opérations dans le monde. Tishman Speyer est aujourd’hui présent aux Etats-Unis, en Allemagne, en France, au Royaume-Uni, en Turquie, en Chine, en Inde et au Brésil : </p>
                <ul>
                  <li class="align-justify">1453 employés à travers le monde ; </li>
                  <li class="align-justify">un patrimoine de 6,2 millions de mètres carrés ;</li>
                  <li class="align-justify">des immeubles de grandes renommée, parmi lesquels le Rockfeller Center et le Chrysler Center à New York, le Sony Center à Berlin, Opern Turm à Francfort, Torre à Sao Paulo, la Tour CBX ou Lumière à Paris</li>
                </ul>
                <p class="align-justify">Tishman Speyer en France</p>
                <ul>
                  <li class="align-justify">Une équipe de 35 personnes</li>
                  <li class="align-justify">380 000 m2 de bureaux</li>
                  <li class="align-justify">70% du portefeuille certifié HQE Exploitation</li>
                  <li class="align-justify">Plus de 60 locataires</li>
                </ul>
              </div>
            </div>
        </div>
    </div>
  {{/content}}


  {{#content "scripts" mode="append"}}
    <script src="{{assets}}/js/SliceManager.js"></script>
    <script src="{{assets}}/js/prenezPosition.js"></script>
  {{/content}}
{{/extend}}